# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/.venv/
**/venv/

# Node (Frontend)
frontend/
node_modules/
dist/
.vite/

# Local data / artefacts
backend/tmp/
backend/.u2net/
*.log
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
render.yaml
